<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a [routerLink]="['/bookappointment']" class="nav-link" href="#">Book Appointment</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/updateorcancelappointment']" class="nav-link">Manage Appointments</a>
          </li>
        <li class="nav-item ">
            <a [routerLink]="['/blogs']" [queryParams]="{ usr: 'patient' }" class="nav-link">Blog</a>
          </li>
        </ul>

    <ul class="nav navbar-nav ml-auto navright">
        <li>
           <p class="name"> Rodrick Paul </p>
         </li>
         <li>
           <div class="btn-group profile">
             <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <i class="fa fa-user" aria-hidden="true"></i>
     </button>
             <div class="dropdown-menu dropdown-menu-right">
               <button class="dropdown-item" [routerLink]="['/profile']" type="button">Profile</button>
               <button class="dropdown-item" type="button">Help</button>
               <div class="dropdown-divider"></div>
               <button class="dropdown-item" [routerLink]="['/home']" type="button">Logout</button>
             </div>
           </div>
         </li>
       </ul>

  </div>
</nav>

<div class="container">
  <div class="card">
  <!-- <div style="background-color: #343a40;color: white"class="card-header text-center"><strong>Register</strong></div> -->
  <div class="card-body"></div>
    <form class="w-50 m-auto">
        <div class="form-group">
            <div class="form-row">
              <!--Edit button image https://icons8.com/icon/47749/cute-outline -->
            <a style="color: white" href="" [routerLink]="['/editprofile']"><img src="assets/edit.png" alt="edit_image" style="width:25px; height:25px ;"></a>
              </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                  <div class="col-md-6">
                      <label style="color: white">License Number </label>
                  </div>
                  <div class="col-md-6">
                      <label id = 'lnumber' style="color: white"></label>
                  </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label style="color: white">First Name</label>
                </div>
                <div class="col-md-6">
                    <label id = 'fname' style="color: white"></label>
                </div>
          </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label style="color: white">Last Name</label>
                </div>
                <div class="col-md-6">
                    <label id = 'lname' style="color: white"></label>
                </div>
            </div>
           </div>
           <div class="form-group">
              <div class="form-row">
                  <div class="col-md-6">
                      <label style="color: white"> Date of Birth</label>
                  </div>
                  <div class="col-md-6">
                      <label id = 'dob' style="color: white"></label>
                  </div>
              </div>
             </div>
             <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label style="color: white">Email</label>
                    </div>
                    <div class="col-md-6">
                        <label id = 'email' style="color: white"></label>
                    </div>
                </div>
               </div>
           <div class="form-group">
              <div class="form-row">
                      <div class="col-md-6">
                          <label style="color: white">Phone</label>
                      </div>
                      <div class="col-md-6">
                        <label id = 'phone' style="color: white"></label>
                    </div>  
              </div>  
              </div>
              <div class="form-group">
                  <div class="form-row">
                          <div class="col-md-6">
                              <label style="color: white">Address</label>
                          </div>
                          <div class="col-md-6">
                          <label id = 'address' style="color: white"></label>
                        </div>  
                  </div>  
                  </div>
              <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6">
                        <label style="color: white">City</label>
                          </div>
                        <div class="col-md-6">
                            <label id = 'city' style="color: white"></label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-6">
                              <label style="color: white">Province</label>
                                </div>
                              <div class="col-md-6">
                                  <label id = 'province' style="color: white"></label>
                              </div>
                            </div>
                          </div>
                    <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-6">
                              <label style="color: white">Postal Code</label>
                                </div>
                              <div class="col-md-6">
                                  <label id = 'postal' style="color: white"></label>
                              </div>
                            </div>
                          </div>
      </form>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="width:100%">
  <div class="row m-0">
    <div class="container text-center" id="copyright">
      <h4 class="copy">Copyright &copy; Your Website</h4>
    </div>
  </div>

</footer>