<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About US</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br><br>
<div class="container">
  <div class="row">
        <div class="col">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="300" src="assets/food.PNG">
              <br><br><br>  
              <a href="#" class="stretched-link">
              <h5 align="center">The Superfood to include in Every Meal</h5>
              </a>
              <br>
              <br>
            </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="300" src="assets/ayurveda.PNG">
              <br><br><br>  
              <a href="#" class="stretched-link">
              <h5 align="center">The Ayurvedic approach to a Health Life</h5>
              </a>
              <br>
              <br>
        </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="300" src="assets/keto.PNG">
              <br><br><br>  
              <a href="#" class="stretched-link">
              <h5 align="center">Everything about Keto Diet</h5><br>
              </a>
              <br>
              <br>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <img width="300" src="assets/protein.PNG">
                <br><br><br>  
                <a href="#" class="stretched-link">
                <h5 align="center">Effects of High Protein Breakfast</h5>
                </a>
                <br>
                <br>
              </div>
          </div>
          <div class="col">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <img width="300" src="assets/exc.PNG">
                <br><br><br>  
                <a href="#" class="stretched-link">
                <h5 align="center">How long should workouts last</h5>
                </a>
                <br>
                <br>
          </div>
          </div>
          <div class="col">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <a href=""><img width="250" src="assets/yoga.PNG"></a>
                <br><br><br>  
                <a href="#" class="stretched-link">
                <h5 align="center"> Yoga for Parkinson's Disease </h5>
                </a>
                <br>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <img width="300" src="assets/yoga2.PNG">
                  <br><br><br>  
                  <a href="#" class="stretched-link">
                  <h5 align="center">Surya Namaskar-The Ultimate Guide</h5>
                  </a>
                  <br>
                  <br>
                </div>
            </div>
            <div class="col">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <img width="300" src="assets/Planks.PNG">
                  <br><br><br>  
                  <h5 align="center">
                      <a href="#" class="stretched-link">
                        Plank for Beginners
                      </a>
                    </h5>
                  <br>
                  <br>
            </div>
            </div>
            <div class="col">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <a href=""><img width="300" src="assets/cancer.PNG"></a>
                  <br><br><br>  
                  <h5 align="center">
                    <a href="">
                      How to Strengthen Your Mental Health After A Cancer Diagnosis
                    </a>
                  </h5>
                  <br>
                </div>
            </div>
          </div>
          </div>

          <div class="row m-0">
            <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="width:100%">
              <div class="row foot m-0">
                <div class="col-md-5 abt">
                  <h2 class="abtus">About Us</h2>
                  <h3 class="abtdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam
                    debitis, maxime quam recusandae harum esse fugiat. Itaque, culpa</h3>
                </div>
          
                <div class="col-md-1">
                </div>
                <div class="col-md-3 contact">
                  <h2 class="abtus">Contact Us</h2>
                  <div class="address">
                    <h3 class="add"><span><i class="fa fa-address-card"></i></span> Address</h3>
                    <h3 class="add">Example Inc.</h3>
                    <h3 class="add"> 1234 Example Street</h3>
                    <h3 class="add">Antartica, Example 0987</h3>
                  </div>
          
                </div>
                <div class="col-md-3">
                  <div class="reach">
                    <h3 class="hcall"><span class="icons"><i class="fa fa-phone" id="call" aria-hidden="true"></i></span> (123) 456-7890 </h3>
                    <h3 class="hmail"><span class="icons"><i class="fa fa-envelope" id="mail"  aria-hidden="true"></i></span> example@abc.com </h3>
                  </div>
                </div>
              </div>
              <div class="row m-0">
                <div class="container text-center" id="copyright">
                  <h4 class="copy">Copyright &copy; Your Website</h4>
                </div>
              </div>
          
            </footer>
          </div>
