<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="guest" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About US</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <ul *ngIf="doc" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/doctor']" class="nav-link" href="#">Appointment</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/medicalrecords']" class="nav-link" href="#">Medical Records</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog</a>
      </li>
     
      </ul>
    <ul *ngIf="doc" class="nav navbar-nav navbar-right">
        <li>
          <p class="name"> Rodrick Paul </p>
        </li>
        <li>
          <div class="btn-group profile">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" [routerLink]="['/profile']" type="button">Profile</button>
              <button class="dropdown-item" type="button">Help</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" [routerLink]="['/home']" type="button">Logout</button>
            </div>
          </div>
        </li>
      </ul>
      <ul *ngIf="patient" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  [routerLink]="['/bookappointment']" class="nav-link" href="#">Book Appointment</a>
      </li>
      <li class="nav-item">
        <a  [routerLink]="['/managebooking']"  class="nav-link" href="#">Manage Appointment</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog</a>
      </li>
     
    </ul>
    <ul *ngIf="patient" class="nav navbar-nav navbar-right">
        <li>
          <p class="name"> Richard Green </p>
        </li>
        <li>
          <div class="btn-group profile">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Profile</button>
              <button class="dropdown-item" type="button">Help</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" [routerLink]="['/home']" type="button">Logout</button>
            </div>
          </div>
        </li>
      </ul>
  </div>
</nav>
<br><br><br><br>

<div class="container">
   <div  *ngIf="doc" class="row m-0 blogRow">
     <div class="col-sm-10"></div>
     <div class="col-sm-2">
  <button type="button" class="btn btn-dark post">New Blog <i class="fa fa-plus addBlog" aria-hidden="true"></i></button>
     </div>
   </div>
  <div class="row blogbox">
        <div class="col">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="300" src="assets/food.PNG">
              <br><br><br>  
              <a href="#" class="stretched-link">
              <h5 align="center">The Superfood to include in Every Meal</h5>
              </a>
              <br>
              <br>
            </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="300" src="assets/ayurveda.PNG">
              <br><br><br>  
              <a href="#" class="stretched-link">
              <h5 align="center">The Ayurvedic approach to a Health Life</h5>
              </a>
              <br>
              <br>
        </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="300" src="assets/keto.PNG">
              <br><br><br>  
              <a href="#" class="stretched-link">
              <h5 align="center">Everything about Keto Diet</h5><br>
              </a>
              <br>
              <br>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <img width="300" src="assets/protein.PNG">
                <br><br><br>  
                <a href="#" class="stretched-link">
                <h5 align="center">Effects of High Protein Breakfast</h5>
                </a>
                <br>
                <br>
              </div>
          </div>
          <div class="col">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <img width="300" src="assets/exc.PNG">
                <br><br><br>  
                <a href="#" class="stretched-link">
                <h5 align="center">How long should workouts last</h5>
                </a>
                <br>
                <br>
          </div>
          </div>
          <div class="col">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <a href=""><img width="250" src="assets/yoga.PNG"></a>
                <br><br><br>  
                <a href="#" class="stretched-link">
                <h5 align="center"> Yoga for Parkinson's Disease </h5>
                </a>
                <br>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <img width="300" src="assets/yoga2.PNG">
                  <br><br><br>  
                  <a href="#" class="stretched-link">
                  <h5 align="center">Surya Namaskar-The Ultimate Guide</h5>
                  </a>
                  <br>
                  <br>
                </div>
            </div>
            <div class="col">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <img width="300" src="assets/Planks.PNG">
                  <br><br><br>  
                  <h5 align="center">
                      <a href="#" class="stretched-link">
                        Plank for Beginners
                      </a>
                    </h5>
                  <br>
                  <br>
            </div>
            </div>
            <div class="col">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <a href=""><img width="300" src="assets/cancer.PNG"></a>
                  <br><br><br>  
                  <h5 align="center">
                    <a href="">
                      How to Strengthen Your Mental Health After A Cancer Diagnosis
                    </a>
                  </h5>
                  <br>
                </div>
            </div>
          </div>
          </div>

          <div class="row m-0">
           <footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="width:100%">
  <div class="row m-0">
    <div class="container text-center" id="copyright">
      <h4 class="copy">Copyright &copy; Your Website</h4>
    </div>
  </div>

</footer>
          </div>
